<%- include("header") -%>
<img src="img/BANNER.png" alt=""><br><br>
<h2>BARCODE SCANNERS</h2>
<div class="product-item" style="background-color:#f7f7f7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/bscanner3.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BARCODE SCANNERS</h2>
        <p class="text-justify">We Are One Of The Best Organizations In The Market, Involved In Offering A Wide Collection Of Barcode Scanners To The Customers At Vary Reasonable Prices. </p>
        <h3>Features:</h3>
        <!-- <p>1. Light Weight </p> -->
        <p>1. Low Maintainance </p>
        <p>2. Easy To Use </p>
        <p>3. High Performance </p>
        <p>4. Alluring Pattern</p>
        <p>5. Superior Finish </p>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<div class="product-item">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/bscanner1.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BARCODE SCANNER</h2>
        <p class="text-justify">We Are One Of The Best Organizations In The Market, Involved In Offering A Wide Collection Of Barcode Scanners To The Customers At Vary Reasonable Prices. </p>
        <br><p>1D Scanner</p>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<div class="product-item" style="background-color:#f7f7f7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/bscanner2.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BARCODE SCANNER</h2>
        <p class="text-justify">We Are One Of The Best Organizations In The Market, Involved In Offering A Wide Collection Of Barcode Scanners To The Customers At Vary Reasonable Prices. </p>
        <br><p>2D Scanner</p>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<%- include("footer") -%>
