<%- include("header") -%>
<img src="img/BANNER.png" alt=""><br><br>
<h2>BILLING PRINTERS</h2>
<div class="product-item" style="background-color:#f7f7f7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/billing1.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BILLING PRINTERS</h2>
        <h3>EPSON</h3>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<div class="product-item">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/billing2.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BILLING PRINTERS</h2>
        <h3>HEYDEY</h3>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<div class="product-item" style="background-color:#f7f7f7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="img/billing3.png" class="zoom">
      </div>
      <div class="col-sm-8 wow fadeInRight p-item" style="visibility: visible; animation-name: fadeInRight;">
        <h2>BILLING PRINTERS</h2>
        <h3>CITIZEN</h3>
        <a href="/#contact"><button  type="button" class="btn btn-success btn-enq">SEND AN ENQUIRY</button></a>
      </div>
    </div>
  </div>
</div>
<%- include("footer") -%>
