<%- include("header") -%>

		<!--Header_section-->

		<div class="">
			<div class="app-screen">
				<div class="" style="">
					<div class="owl-carousel testimonial-carousel-2">
						<!-- <div class="single-testimonial">
						<div class="slider-img-2"><img src="Home-Page-Top-1.png"></div>
					</div> -->
						<div class="single-testimonial ">
							<div class="slider-img-2"><img class="wow fadeIn" src="img/top1.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img class="wow fadeIn" src="img/top2.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top3.png"></div>
						</div>
						<!-- <div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top4.png"></div>
						</div> -->
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top5.jpg"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top6.jpg"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</section>

	<!--About us-->
	<section id="about_us">
		<div class="container">
			<h2>About Us</h2>
			<hr width="250px">
			<div class="service_area">
				<center>
					<p style=" word-spacing: 12px;font-size:18px;">Growing demand of Self Adhesive Stickers and their fast growth encouraged us to enter in barcode stickers, product labels and promotional labels manufacturing industries <strong>20 years ago.</strong> Our prime focus is Quality and customer satisfaction .
						Therefore , we as a self adhesive label manufacturer offer a wide range of best quality pre-printed Barcode Stickers and Thermal Transfer Ribbon. Also, deals in barcode printers and scanners. Established with an aim to offer the superior quality products and services, we leave no stone unturned
						towards assuring the same. We have earned a respectable name for ourselves as a barcode sticker and product labels Manufacturer. Further, we make full efforts to maintain a large inventory for our products so that we are able to serve the requirements of
						our clients at any given frame of time.</p>
				</center>
				<br>
				<center>
					<p style=" word-spacing: 12px;font-size:18px;">We are backed with the Modern Infrastructural Setup for manufacturing our offered range of products. We have hired a team of highly skilled professionals, who are carefully appointed by
						keeping in mind their knowledge in their respective domains. Owing to the better quality of our products and customised range, we have been able to earn high-level client satisfaction. Our expertise conducting various Research &
						Development activities assists us in further increase of our technical excellence. Moreover, we are backed by a wide connected network for delivering the offered products safely at clients end.</p><br>
				</center>
				<center><br>
					<h2 style="font-size:24px;">Why Us?</h2>
				</center>
				<center>
					<p style="word-spacing: 12px;font-size:18px;">By providing our customers with unmatched quality of Barcode & Product Labels and Printers, we always believe in making a long-term relationship with our respected customers. Our wide distribution network
						helps us in dispatching the offered products at the patrons end within the committed frame of time. Also, deals with exporters and can deliver on a short notice. </p>
				</center>
			</div>
		</div>
	</section>
	<!--Service-->
	<section id="service" style="background:#f7f7f7">
		<div class="container">
			<h2>Services</h2>
			<div class="service_area">
				<div class="row">
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-book"></i></span> </div>
							<h3 class="animated fadeInUp wow">Quality Products</h3>
							<p class="animated fadeInDown wow">Established with an aim to offer the superior quality products and services.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
							<h3 class="animated fadeInUp wow">Customer Satisfaction</h3>
							<p class="animated fadeInDown wow">Customer satisfaction is always our first priority.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-rocket"></i></span> </div>
							<h3 class="animated fadeInUp wow">Timely Delivery</h3>
							<p class="animated fadeInDown wow">Backed by a wide connected network for delivering the products timely. </p>
						</div>
					</div>
				</div>
				<div class="row pt-20">
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon4 delay-03s animated wow  zoomIn"> <span><i class="fa-compress"></i></span> </div>
							<h3 class="animated fadeInUp wow">Bulk Orders</h3>
							<p class="animated fadeInDown wow">We take corporate bulk orders and deliver on time.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon5  delay-03s animated wow zoomIn"> <span><i class="fa-eye"></i></span> </div>
							<h3 class="animated fadeInUp wow">Technical Support</h3>
							<p class="animated fadeInDown wow">We also provide technical support like software update, printer services ets.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon6  delay-03s animated wow zoomIn"> <span><i class="fa-cog"></i></span> </div>
							<h3 class="animated fadeInUp wow">Responsiveness</h3>
							<p class="animated fadeInDown wow">Willing to help customers and provide prompt service.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Service-->

	<section id="work_outer">
		<div class="top_cont_latest">
			<div class="container">
				<h2>SOME OF OUR PRODUCTS</h2>
				<div class="tab-content">
					<div id="multivendor" class="container tab-pane active">
						<div class="">
							<div class="app-screen">
								<div class="container" style="padding-top:80px; padding-bottom:80px;">
									<div class="owl-carousel testimonial-carousel">
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/1.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p1.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/2.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p2.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/3.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img  class="wow zoomIn" src="img/p3.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/4.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img  class="wow zoomIn" src="img/p4.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/5.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p5.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/6.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p6.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/7.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p7.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/orange.png"></div>
										</div>
										<div class="single-testimonial">
											<div class="slider-img"><img class="wow zoomIn" src="img/p8.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/9.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/10.png"></div>
										</div>
										<!-- <div class="single-testimonial ">
											<div class="slider-img"><img src="img/11.png"></div>
										</div> -->
										<div class="single-testimonial ">
											<div class="slider-img"><img class="wow zoomIn" src="img/12.png"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</section>

	<!-- <section id="work_outer_1">
		<div class="top_cont_latest">
			<div class="container">
				<h2>Hardware Products</h2>
				<div class="tab-content wow fadeInUp">
					<div id="multivendor" class="container tab-pane active">
						<div class="">
							<div class="app-screen">
								<div class="container" style="padding-top:80px; padding-bottom:80px;">
									<div class="owl-carousel testimonial-carousel-3">
										<div class="single-testimonial">
											<div class="slider-img"><img src="img/p1.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p2.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p7.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p4.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p5.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p6.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p3.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p8.png"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section> -->
	<!--main-section-end-->


	<!-- <section class="main-section" id="client_outer" style="padding-bottom:60px"> -->
		<!--main-section client-part-start-->
		<!-- <h2>Happy Clients</h2>
		<div class="client_area ">
			<div class="client_section animated  fadeInUp wow">
				<div class="client_profile">
					<div class="client_profile_pic"><img src="img/client-pic1.jpg" alt=""></div>
					<h3>John Doe</h3>
					<span>Google Inc</span>
				</div>
				<div class="quote_section">
					<div class="quote_arrow"></div>
					<p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
						semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="client_section animated  fadeInDown wow">
				<div class="client_profile flt">
					<div class="client_profile_pic"><img src="img/client-pic2.jpg" alt=""></div>
					<h3>Marie Gomez</h3>
					<span>BFA Foundation</span>
				</div>
				<div class="quote_section flt">
					<div class="quote_arrow2"></div>
					<p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
						semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section> -->
  <%- include("footer") -%>
